@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 220 9% 25%;
    --card: 0 0% 100%;
    --card-foreground: 220 9% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 9% 25%;
    --primary: 197 76% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 12% 92%;
    --secondary-foreground: 220 9% 25%;
    --muted: 216 12% 92%;
    --muted-foreground: 220 9% 45%;
    --accent: 46 100% 70%;
    --accent-foreground: 46 100% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 12% 88%;
    --input: 216 12% 88%;
    --ring: 197 76% 53%;
    --chart-1: 197 76% 53%;
    --chart-2: 197 60% 65%;
    --chart-3: 197 60% 75%;
    --chart-4: 197 60% 85%;
    --chart-5: 197 60% 95%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 13% 10%;
    --foreground: 220 13% 90%;
    --card: 220 13% 15%;
    --card-foreground: 220 13% 90%;
    --popover: 220 13% 15%;
    --popover-foreground: 220 13% 90%;
    --primary: 197 76% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 20%;
    --secondary-foreground: 220 13% 90%;
    --muted: 220 13% 20%;
    --muted-foreground: 220 13% 60%;
    --accent: 46 100% 70%;
    --accent-foreground: 46 100% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 25%;
    --input: 220 13% 25%;
    --ring: 197 76% 53%;
    --chart-1: 197 76% 53%;
    --chart-2: 197 70% 40%;
    --chart-3: 197 70% 30%;
    --chart-4: 197 70% 20%;
    --chart-5: 197 70% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
